@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav
{
    width: 100%;
    background-color: #7eadc4;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
nav .icon
{
    color: #0e0d0d;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    padding: 20px;
}
nav ul
{
    display: flex;
    list-style: none;
    margin: auto 0;
    justify-content: center;
    align-items: center;  
}
nav ul li
{
    margin: 0 5px;
    list-style: none;
    padding: 0px 8px;
}
nav ul li a
{
    color: #ece3e3;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
}
nav ul li a:hover 
{
    /* background-color:rgb(43, 30, 30); */
    color: rgb(138, 32, 55);
    /* border-radius: 0.35rem; */
    /* border: solid 1px white; */
}
nav .search_box
{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;

}
nav .search_box input
{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}
nav .search_box span
{
    color: rgb(12, 11, 11);
    font-size: 20px;
    background:#ffff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    border-radius: 0.30rem;
}
button
{

    font-size: 20px;    
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
    background-color: rgb(46, 42, 42);
    border: solid rgb(167, 138, 138) 1px;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
}
header .navbar ul li ul li
{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}
h1{
    padding: 50px;
    font-size: 50px;
}
p{
    margin-left: 120px;
    font-size: 15px;
}
.bars input{
    width: 300px;
    font-size: 25px;
    margin-left: 100px;
    border-radius: 1.5px;
    padding: 0px;
}

.btn1
{
    font-size: 25px;
    background-color: #0e0d0d;
    color: #fff;
}
 #about
{
    padding: 40px; 
    text-align: center;
}
 #about p
{
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto ;
    display: flex;
    justify-content: flex-start;
}



/* footer a
{
    margin-left:50px;
    padding-bottom: 40px;
    position: relative;
    align-items: center;
    justify-content: center;
} */
img
{
    width: 500px;
    float: right;
    margin: 30px;
    padding: 20px;
}
.footer
{

        max-width: 70%;
        margin: 40px auto;
}
   .footer, .footer a
{
        color: #999;
        font-size: 11px;
}
    .footer p 
{
        margin-bottom: 50px;
        font-size: 25px;
}
.footer i
{
    font-size: 18px;
}
 .cols1 p
{
    display: flex;
    justify-content:center;
}

    .footer-cols
{
        display: flex;
        justify-content: space-between;
}
    .footer li
{
        line-height: 1.9;
}
/* footer
{
    display: flex;
    max-width: 75%;
    margin: 30px auto;
    justify-content: space-between;
}
footer.group
{
    padding: 30px;
    font-size: 28px;
}
.group i 
{
    display: flex;
    color: #ffbf00;
    max-height: 105px;
}
footer .desktop
{
    padding: 30px;
    font-size: 30px;
}
.desktop i 
{
    display: flex;
    color: #fe2410;
    max-height: 1.5px;
}
footer.clock
{
    padding: 30px;
    font-size: 30px;
}
.clock i{
    display: flex;
    color: #0040ff;
    max-height: 1.5px;
} */